@model IEnumerable<FA.JustBlog.Core.Model.Category>

@foreach (var item in Model)
{
    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="@Url.Action("Details", "Post", new { slug = item.UrlSlug })">@item.Name</a></li>
}

