@model IEnumerable<FA.JustBlog.Core.Model.Post>

<div class="card" style="width: 18rem">
    <ul class="list-group list-group-flush">

        <div class="card-header">
            Most Viewed Posts
        </div>

        @foreach (var item in Model)
        {
            <li class="list-group-item">

                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.PostContent</p>

            </li>
        }

    </ul>

</div>